* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#theme {
  display: none;
}

#theme:checked ~ .App {
  filter: invert(1);
}

.App {
  max-width: 100%;
  min-height: 100vh;
  background: white;
}

.main {
  /* max-width: 1000px; */
  width: 100%;
  margin: auto;
}

img {
  object-fit: cover;
}

/* ----------------AUTH------------- */
@import url("./auth.css");

/* ----------------Loading------------- */
@import url("./loading.css");

/* -----------------HEADER------------- */
@import url("./header.css");

/* -----------------AVATAR-------------- */
@import url("./avatar.css");

/* -----------------PROFILE-------------- */
@import url("./profile.css");

/* -----------------MESSAGE-------------- */
@import url("./message.css");






/* -----------------HOME---------------- */
@import url("./home/home.css");
@import url("./home/rightPanel.css");
@import url("./home/centralPanel.css");
@import url("./home/leftPanel.css");

/* --------------Comments----------------- */
@import url("./home/comments.css");

/* ---------------STATUS MODEL----------------- */
@import url("./home/status_model.css");






/* --------------reg&login----------------- */
@import url("./signUp.css");
@import url("./signIn.css");




/*--------------------PostThumb-------------*/
@import url("./post_thumb.css");


.mode{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(238, 238, 238, 0.527);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #adadad;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: RGB(0 150 209);
}

